<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @course.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:teacher_id) %>:</strong></dt>
  <dd><%= link_to @course.teacher.name, teacher_path(@course.teacher.id) %></dd>
</dl>
<hr/>
<h4>Tareas</h4>
<% @course.homeworks.each do |homework| %>
  <dl class="dl-horizontal">
      <dt><strong><%= Homework.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= link_to homework.name, homework_path(homework.id) %></dd>
  </dl>
<% end %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              teachers_path, :class => 'btn btn-default'  %>
