<%= form_for @exercise, :html => { :class => "form-horizontal exercise" } do |f| %>

    <% if @exercise.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @exercise.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div id="ex-form">
  <div class="form-group">
    <label class="control-label" for="exercise_file">Archivo <i class="icon icon-material-cloud-upload"></i></label>
    <div class="form-control-wrapper fileinput">
      <input id="exercise_file" type="text" readonly="" class="form-control empty">
      <%= f.file_field :file, :class => 'form-control-wrapper fileinput'%>
      <div class="floating-label">Browse...</div>
      <span class="material-input"></span>
    </div>
  </div> 

    

  <div class="form-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="form-control-wrapper">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Contraseña", :class => 'control-label' %>
    <div class="form-control-wrapper">
      <%= password_field_tag 'exercise[password]',nil,  :class => 'form-control' %>
    </div>
  </div>
  <!-- Combos -->
  <div class="form-group">
    <%= f.label "Maestro", :class => 'control-label' %>
    <div class="form-control-wrapper">
      <%= select_tag "exercise[teacher_id]", teachers_combo(@teachers), class: "form-control" %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label "Curso", :class => 'control-label' %>
    <div class="form-control-wrapper">
      <%= select_tag "exercise[course_id]", courses_combo(@courses),class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Tarea", :class => 'control-label' %>
    <div class="form-control-wrapper">
      <%= select_tag "exercise[homework_id]", homeworks_combo(@homeworks),class: "form-control" %>
    </div>
  </div>
  <!-- end combos -->
</div>
<div class="form-group">
  <div class="col-lg-12">
  <%= f.button :submit , :class => 'btn btn-lg btn-primary btn-all' %>
</div>
</div>
<% end %>
